body{
    background-image: url("../img/viagem.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1{
    text-align: center;
}

#box{
    margin: auto;
    background-color: #ffffff;
    width: max-content;
    padding: 10px 30px 20px 30px;
}

input:not(#btt){
    display: block;
    margin-bottom: 10px;
    width: 240px;
    height: 25px;
}

#btt{
    cursor: pointer;
    margin-top: 10px;
    width: 248px;
    height: 30px;
    border: none;
    background-color: #4d5c4d;
    color: #ffffff;
    transition: 0.5s;
}

#btt:hover{
    background-color: #2a992a;
    transition: 0.5s;
}